@using JMS.BAL.ViewModel
@model JMS.BAL.ViewModel.JewelTypeViewModel

@{
    ViewBag.Title = "Jewel Type List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["LoggedInUser"] as LoggedInUserModel;
    if (user?.Role != 1)
    {
        Response.Redirect("~/Login/Index");
    }
}


<div class="card card-outline card-primary">
    <div class="card-header">
        <div class="float-left">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="float-right">
            <button class="btn btn-primary" onclick="createJewelTypeFunction()" data-toggle="modal" data-target="#jewelTypeModalPopup">
                <i class="fas fa-plus "></i>
                Add New Jewel Type
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="jewelTypeTable" class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                       Name
                    </th>

                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    @using (Html.BeginForm("CreateOrUpdate", "JewelTypeMaster",FormMethod.Post, new { id = "jewelTypeform" }))
    {
        <div id="jewelTypeModalPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Jewel Type Details Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.Id )
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3"> Jewel Type<span style="color:red">*</span></label>
                                <div class="col-9 validation-msg">
                                    @Html.TextBoxFor(m => m.JewelTypeName, new { @class = "form-control " })
                                </div>
                        
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">

                                <label class="col-3">Status</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(m => m.Status, Model.StatusList, new { @class = "form-control " })
                                </div>
                               
                            </div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("DeleteJewelType", "JewelTypeMaster", FormMethod.Post, new { id = "jewelTypeDeleteform" }))
    {
        <div id="jewelTypeDeleteModalPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Jewel Type</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.Id, new { id = "deletejewelTypeId" })
                        <p> Are you sure want to delete "<label id="deleteJewelTypeName"></label>" Jewel Type?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Jewel Type</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/Content/jewelType")
</div>