@using JMS.BAL.ViewModel
@model JMS.BAL.ViewModel.SupplierViewModel

@{
    ViewBag.Title = "Supplier List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["LoggedInUser"] as LoggedInUserModel;
    if (user?.Role != 1)
    {
        Response.Redirect("~/Login/Index");
    }
}


<div class="card card-outline card-primary">
    <div class="card-header">
        <div class="float-left">
            <h3>@ViewBag.Title</h3>
        </div>
        <div class="float-right">
            <button class="btn btn-primary" onclick="createSupplierFunction()" data-toggle="modal" data-target="#supplierModalPopup">
                <i class="fas fa-plus "></i>
                Add New Supplier
            </button>
        </div>
    </div>
    <div class="card-body">
        <table id="supplierTable" class="table table-bordered table-striped ">
            <thead>
                <tr>
                    <th>
                        ID
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Code
                    </th>
                    <th>
                        Address
                    </th>
                    <th>
                        Phone
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
        </table>
    </div>

    @using (Html.BeginForm("CreateOrUpdate", "SupplierMaster", FormMethod.Post, new { id = "supplierForm" }))
    {
        <div id="supplierModalPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Supplier Details Form</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.Id)
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3"> Name<span style="color:red">*</span></label>
                                <div class="col-9 validation-msg">
                                    @Html.TextBoxFor(m => m.SupplierName, new { @class = "form-control" })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3"> Code<span style="color:red">*</span></label>
                                <div class="col-9 validation-msg">
                                    @Html.TextBoxFor(m => m.SupplierCode, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3">Address<span style="color:red">*</span></label>
                                <div class="col-9 validation-msg">
                                    @Html.TextAreaFor(m => m.Address, new { @class = "form-control " })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3">Phone<span style="color:red">*</span></label>
                                <div class="col-9 validation-msg">
                                    @Html.TextBoxFor(m => m.Phone, new { @class = "form-control " })
                                </div>

                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <label class="col-3">Status</label>
                                <div class="col-9">
                                    @Html.DropDownListFor(m => m.Status, Model.StatusList, new { @class = "form-control" })
                                </div>

                            </div>
                        </div>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @using (Html.BeginForm("DeleteSupplier", "SupplierMaster", FormMethod.Post, new { id = "SupplierDeleteForm" }))
    {
        <div id="supplierDeleteModalPopup" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Delete Supplier</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @Html.HiddenFor(m => m.Id,new { id="deleteSupplierId"})
                        <p> Are you sure want to delete "<label id="deleteSupplierName"></label>" Supplier?</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-danger">Delete Supplier</button>
                    </div>
                </div>
            </div>
        </div>
    }
    @Scripts.Render("~/Content/supplier")
</div>


