<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">  
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/adminlte/js")
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <i class=" fas fa-gem fa-sm"></i><a href="#" class="h1" >&nbsp; Tanishq</a>
        </div>
        @RenderBody()
    </div>
  
    @RenderSection("scripts", required: false)
</body>
</html>